* {
  box-sizing: border-box;
}

body {
  color: rgb(10, 39, 106);
  font-size: 16px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav,
footer {
  background-image: linear-gradient(to right, rgb(5, 22, 59), rgb(10, 39, 106));
  color: white;
}

header nav.navbar {
  padding: 2rem;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link {
  color: white;
}

nav > .container {
  margin-left: 20px;
}
header > .nav {
  margin-right: 20px;
}

header .nav-link {
  display: inline;
}

#event-status {
  text-align: center;
  width: 100%;
  background-color: rgb(228, 13, 124);
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.container-fluid {
  margin: 0;
  padding: 0 30px;
}

.video-player-container {
  margin: 0;
  padding-left: 0;
}

.video-player {
  border-radius: 0.25rem;
}

.feedback-container,
.video-player,
#pills-tab {
  box-shadow: 0 0 10px #ccc;
  border-radius: 1rem;
  padding: 0;
}
.accordion-item {
  border: none;
}

#headingTwo > button[class~="collapsed"] {
  border-radius: 1rem;
}

#headingTwo > button {
  border-radius: 1rem 1rem 0 0;
}

.accordion-collapse > .accordion-body {
  box-shadow: 0 0 10px rgb(188, 188, 188);
  border-radius: 0 0 1rem 1rem;
}

main {
  display: flex;
}

.row,
.main-content {
  width: 100%;
  margin: 30px 0;
}

.content-container {
  padding-left: 0;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: rgb(10, 39, 106);
  color: white;
}

#faq-link a:link {
  color: rgb(10, 39, 106);
}
#faq-link > span {
  font-size: 2rem;
}

.technical-support form > label {
  font-weight: bold;
  width: 100%;
}

.accordion-body {
  display: flex;
  flex-direction: column;
}

.accordion-body textarea {
  border: 2px solid rgb(10, 39, 106);
  border-radius: 1rem;
  width: 100%;
  margin: 10px 0;
}

.btn.btn-primary {
  background-color: rgb(228, 13, 124);
  color: white;
  border: none;
  border-radius: 1rem;
  text-align: left;
}

.main-content {
  width: 100%;
  margin: 50px 0;
}

.main-content .card-body > button {
  width: 90%;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

#pills-tab {
  background-color: #fff;
  margin-right: 0;
}

#pills-tab button {
  color: rgb(10, 39, 106);
  width: 100%;
  border-radius: 0;
}

#pills-tab button[class~="active"] {
  background-color: rgb(228, 13, 124);
  color: white;
}

#pills-tab .nav-item:first-of-type > button {
  border-radius: 1rem 0 0 1rem;
}

#pills-tab .nav-item:last-of-type > button {
  border-radius: 0 1rem 1rem 0;
}

article > .container-fluid {
  padding: 0;
}

h2 {
  font-size: 4rem;
  font-weight: normal;
}

h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 8px;
  background-color: rgb(228, 13, 124);
  border-radius: 1rem;
  margin: 1.5rem 0 3rem 0;
}

.welcome-info-row p {
  color: black;
}

.faculty-members-row {
  margin-top: 5rem;
}

.faculty-members-row + div {
  padding: 0;
}

.faculty-members div.col-4 {
  display: flex;
  justify-content: center;
}

.faculty-members div.col-4 > .card {
  height: 17rem;
}

div.col-4 > .card {
  align-items: center;
  flex-grow: 1;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 15px #ccc;
}

.faculty-members .card-img-top {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.card-img-top {
  height: 15rem;
  width: 100%;
}

#posters .card-img-top {
  border-radius: 1rem 1rem 0 0;
}

.faculty-members .card-body {
  justify-content: flex-end;
}

.faculty-members .card-body,
.breakout-spaces .card-body,
.resources-container .card-body,
.posters-container .card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.breakout-spaces .card-body,
.resources-container .card-body,
.posters-container .card-body {
  justify-content: space-evenly;
}

.faculty-members-row {
  margin-top: 5rem;
}

.faculty-content > * {
  margin: 0;
  padding: 0;
}

.faculty-content {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.125rem;
}

.main-content .card-body > button {
  width: 90%;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

#pills-faculty .row > div {
  padding-top: 7.5rem;
}

.breakout-spaces .card-title,
.resources-container .card-title {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.125rem;
}

#breakouts p,
#resources p,
#posters p {
  text-align: center;
  width: 90%;
}

#posters .card-body > * {
  margin-top: 2rem;
}

.presenter-container {
  display: flex;
  box-shadow: 0 0 15px #ccc;
  border-radius: 1rem;
  padding: 0;
}

.agenda-time {
  padding: 0 5rem;
  background-color: rgb(223, 217, 217);
  border-radius: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(228, 13, 124);
  font-weight: bold;
  font-size: 2rem;
  line-height: 0.75;
}

time:first-of-type:after {
  content: "";
  display: block;
  width: 30px;
  height: 6px;
  background-color: rgb(228, 13, 124);
  border-radius: 1rem;
  margin: 1rem auto;
  text-align: center;
}

.presenter-container img {
  margin: 2rem;
}

.presenter-content {
  display: flex;
  flex-direction: column;
}

.presenter-heading {
  margin: 2rem 0 1rem 0;
}

.presenter-name,
.presenter-title {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.presenter-body {
  padding-right: 2rem;
}

footer {
  position: sticky;
  height: 25vh;
}

footer p {
  margin-bottom: 0;
}

footer a {
  display: block;
  margin: 1rem;
  text-decoration: none;
  color: #fff;
}

.sitefooter-container,
.sitefooter-container > .row:first-of-type {
  height: 100%;
}

#footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sitelinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.job-info {
  margin-right: 10rem;
}

.site-links {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.terms-conditions {
  justify-content: flex-end;
}

.account {
  font-weight: bold;
}

.sidebar-container {
  position: fixed;
  width: 25%;
  left: 75%;
  padding-right: 1.5%;
  margin-top: 30px;
  /* height: calc(56.25vw); */
}

#myTab {
  width: 100%;
  background-color: rgb(223, 217, 217);
  border-radius: 1rem 1rem 0 0;
}

#myTab button {
  padding: 0;
  border: none;
  border-radius: 1rem 1rem 0 0;
  color: rgb(160, 160, 160);
  width: 100%;
}

#myTabContent {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 0.75rem;
}

.fade:not(.show) {
  opacity: 0;
}

.fade {
  transition: opacity 0.15s linear;
}

#question-tab-pane {
  width: 100%;
  padding: 1.25rem;
}

.feedback-container {
  min-height: fit-content;
  /* max-height: calc(40.25vw); */
}

.feedback-container textarea {
  border-radius: 1rem;
  border: 2px solid rgb(223, 217, 217);
}

.feedback-container .btn.btn-primary {
  margin: 1rem 0 0 0;
  padding: 1rem;
}

#question-container {
  width: 100%;
  padding: 10px 10px 0 10px;
}

#question-container > form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#question-container label {
  color: rgb(228, 13, 124);
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

#question-container textarea {
  height: 25rem;
}

.nav-item {
  flex-grow: 1;
  border-radius: 1rem;
}

.nav-link {
  border: none;
  height: 70px;
}

.sidebar-container .tab-content {
  overflow-y: auto;
  max-height: calc(36vw);
}

.tab-content legend,
.tab-content label.form-label {
  color: rgb(228, 13, 124);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.tab-content button {
  padding: 1rem;
  width: 100%;
}

#polling-tab-pane {
  position: relative;
}

#evaluation-tab-pane label,
#evaluation-tab-pane input {
  border-radius: 1rem;
}

#evaluation-container,
#polling-container {
  padding: 1rem 1rem 0 1rem;
}

.btn-outline-primary {
  background-color: rgb(223, 217, 217);
  color: rgb(5, 22, 59);
  border: none;
  width: 100%;
  border-radius: 1rem;
}

.btn-check:hover + .btn {
  background-color: rgb(179, 179, 179);
  color: rgb(5, 22, 59);
}

.btn-check:checked + .btn {
  background-color: rgb(228, 13, 124);
}

.register-interest {
  display: flex;
  justify-content: center;
  position: fixed;
  border-radius: 1rem;
  margin-top: 2rem;
  padding-right: 0.4%;
}

.register-interest button {
  width: 90%;
  padding: 0.9rem;
}

.body-container {
  width: 75%;
}
